{% extends "layouts/base.html" %}
{% block content %}
{# TODO: explore abstracting this loop into a partial you can reuse in postList.html #}
<article>
  {% if "/notes/" in page.inputPath  %}
      {% include "partials/note.html" %}
  {% elseif "/photos/" in page.inputPath  %}
      {% include "partials/photo.html" %}		
  {% elseif "/playlists/" in page.inputPath  %}
      {% include "partials/playlist.html" %}
  {% elseif "/posts" in page.inputPath %}
      <h1>{{ title }}</h1>
      {{ content | safe }}
        <p>Published on <time datetime="{{ item.data.date | dateFilter }}">{{ date | dateFilter }}</time></p>
  {% else %}
  {% endif %}
</article>
{# 
TODO: abstract tags logic into partial, include in individual collection partials. combine with date/time into meta partial? 
TODO: clean up context collision on individual collection type partials 
#}
{% if tags %}
	<ul class="tags-list" aria-describedby="tags-desc">
	  {% for tag in tags %}
		<li>
		  <a href="/tag/{{ tag | slugify }}/">{{ tag | replace(' ', '') }}</a>
		</li>
	  {% endfor %}
	</ul>
{% endif %} 
{% endblock %} 