{% macro renderItem(item) %}
  {# Normalize Eleventy's context for partials #}
  {% set data = item.data %}
  {% set content = item.templateContent %}
  {% set page = { url: item.url } %}

  {# Determine which partial to render based on type #}
  {% set type = data.type or data.layout or "default" %}
  {% include  type  %}
{% endmacro %}
