---
title: 'Contact'
layout: 'layouts/page.html'
permalink: /contact/index.html
---
<form name="contact" method="POST" action="/thanks/" data-netlify="true" data-netlify-honeypot="bot-field">
  <input type="hidden" name="form-name" value="contact" />
  <p hidden>
    <label>Don't fill this out: <input name="bot-field" /></label>
  </p>

  <label for="name">Name</label>
  <input type="text" id="name" name="name" placeholder="Your name" required />

  <label for="email">Email</label>
  <input type="email" id="email" name="email" placeholder="your@email.com" required />

  <label for="message">Message</label>
  <textarea id="message" name="message" rows="6" placeholder="What's on your mind?" required></textarea>

  <button type="submit">Send message</button>
</form>
