	<div>
        <ul>
        {% for item in collections.firehose %}
            <li>
                {% if "/notes/" in item.inputPath  %}
                    {% include "partials/note.html" %}
                {% elseif "/photos/" in item.inputPath  %}
                    {% include "partials/photo.html" %}
                {% elseif "/posts" in item.inputPath %}
                <article>
                    <h1><a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a></h1>
                    {{ item.data.date | dateFilter }} 
                </article>
                {% else %}
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    