<header role="banner" class="site-head">
    <div class="wrapper">
        <div class="inner">
            <a href="/" aria-label="{{ site.name }} - home" class="site-head__brand">{{ site.name }} </a>
            <nav aria-label="Primary">
                <ul>
	                {% for item in navGlobal.items %}
                        <li>
                            <a href="{{ item.url }}">{{ item.text }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
        </div>
    </div>
</header>