{# 
This partial renders a photo item.
TODO: refactor to clean up context collision with 'item' and 'page' variables.
TODO: Can alt and caption be combined? Maybe conditionally check for a caption and if none present, use alt text?
#}
{% if item is defined %}
  {% set photo = item %}
{% elif page is defined %}
  {% set photo = page %}
{% else %}
  {% set photo = {} %}
{% endif %}

<figure>
    <img src="{{ site.img }}/{{ photo.data.image.src or image.src }}" alt="{{ photo.data.image.alt or image.alt }}"/>
    <figcaption>{{ photo.data.image.caption or image.caption }}</figcaption>
</figure>
{{ (photo.templateContent  or content or "") | safe }}
<time datetime="{{ photo.data.date | dateFilter }}"><a href="{{ item.url }}">{{ photo.date | dateFilter }}</a></time>

