{% if item is defined %}
  {% set playlist = item %}
{% elif page is defined %}
  {% set playlist = page %}
{% else %}
  {% set playlist = {} %}
{% endif %}

<article>
    <h1> {{ (playlist.data.title or title) | safe }}</h1>
     
    <iframe style="width: 100%; max-width: 660px; overflow: hidden; border-radius: 10px;" src="{{ playlist.data.links.embed or links.embed }}" height="450" frameborder="0" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation"></iframe>

    {{ (playlist.templateContent or content or "") | safe }}
    
  <h2>Listen:</h2>
  <ul>
    {% if playlist.data.links.apple or links.apple %}
      <li><a href="{{ playlist.data.links.apple or links.apple }}">Apple Music</a></li>
    {% endif %}
    {% if playlist.data.links.lastfm or links.lastfm %}
      <li><a href="{{ playlist.data.links.lastfm or links.lastfm }}">YouTube Music</a></li>
    {% endif %}
    {% if playlist.data.links.spotify or links.spotify %}
      <li><a href="https://open.spotify.com/playlist/{{ playlist.data.links.spotify or links.spotify }}">Spotify</a></li>
    {% endif %}
    {% if playlist.data.links.youtube %}
      <li><a href="{{ playlist.data.links.youtube }}">YouTube Music</a></li>
    {% endif %}
  </ul>

    <p><a href="{{ playlist.data.tag or tag}}">More {{ playlist.data.tag or tag }} posts like this one</a></p>
    <time datetime="{{ item.date | dateFilter }}"><a href="{{ item.url }}">{{ playlist.date | dateFilter }}</a></time>
</article>

