<div id="post-list">
	{% if postListHeadline %}
		<h2 data-highlight="primary">
			{{ postListHeadline }}
		</h2>	
	{% endif %}
	<div>
		{% for item in postListItems %}
			<article>
				{% if "/notes/" in item.inputPath  %}
					{% include "partials/note.html" %}
				{% elseif "/photos/" in item.inputPath  %}
					{% include "partials/photo.html" %}
				{% elseif "/playlists/" in item.inputPath  %}
					{% include "partials/playlist.html" %}
				{% elseif "/posts/" in item.inputPath %}
					<h1><a href="{{ item.url }}" class="post-list__link">{{ item.data.title }}</a></h1>
					{{ item.data.date | dateFilter }} 
				{% else %}
				{% endif %}
			</article>
		{% endfor %}
	</div>
</div>

